.basket-icon{
    width: 100px;
}



.basket-icon a{
    text-decoration: none;
}

.basket-icon a i{
    font-size: 20px;
    color: red;
}
.basket-icon a sup{
    font-size: 20px;
    color: red;
}
 #cart img{
    width: 100px;
    height: 100px;
 }