.basket-icon{
    width: 100px;
}



.basket-icon a{
    text-decoration: none;
}

.basket-icon a i{
    font-size: 20px;
    color: red;
}
.basket-icon a sup{
    font-size: 20px;
    color: red;
}
 #cart img{
    width: 100px;
    height: 100px;
 }
 tbody input{
    width: 30px;
    height: 20px;
    border: 1px solid black;
 }
 tbody button{
    border: none;
 }
 tbody .delete-item{
   padding: 3px 10px;
    background-color: red;
    color:white;
    border-radius: 5px;
    
 }
 
 .total-price h1 span{
    color: red;
 }